{{define "footer-void"}}
<!-- Footer -->
<footer class="w-full border-t border-primary border-opacity-20 py-void-md px-margin-desktop flex flex-col md:flex-row justify-between items-center bg-black">
<div class="font-meta-sm text-meta-sm text-outline lowercase mb-4 md:mb-0">
            © mmxxiv {{.Site.SiteName}}. built in go and jules.
        </div>
<div class="font-meta-sm text-meta-sm text-outline lowercase italic">
            everything ends eventually.
        </div>
<div class="flex gap-void-sm mt-4 md:mt-0">
<a class="custom-underline font-meta-sm text-meta-sm" href="/">home</a>
<a class="custom-underline font-meta-sm text-meta-sm" href="/about">about</a>
</div>
</footer>
{{end}}
