<footer class="fixed bottom-0 w-full z-50 bg-error-container border-t-4 border-double border-error py-2 px-4 flex flex-col items-center">
<div class="max-w-6xl w-full flex flex-col md:flex-row items-center justify-between gap-4">
<div class="font-label font-black text-error text-[10px] uppercase flex items-center gap-2">
<span class="material-symbols-outlined text-[16px]">security</span>
                SEAL OF RAOUL THE OCTOPUS - UNAUTHORIZED MODIFICATION PUNISHABLE BY LAW
            </div>
<div class="flex gap-6">
<a class="font-label text-xs font-bold text-on-error-container/80 underline hover:bg-error hover:text-on-error px-2 py-0.5" href="#">Privacy Act</a>
<a class="font-label text-xs font-bold text-on-error-container/80 underline hover:bg-error hover:text-on-error px-2 py-0.5" href="#">Security Policy</a>
<a class="font-label text-xs font-bold text-on-error-container/80 underline hover:bg-error hover:text-on-error px-2 py-0.5" href="#">Terminal Access</a>
</div>
</div>
</footer>